body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    width: 300px;
    background-color: yellow;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}